/* Apply Roboto font to the entire application */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

p {
  font-weight: 400;
  line-height: 1.6;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
/* Home CSS */

.wrapper {
  width:90%;
  margin-left: 5%;
  margin-top: 40px;
  min-height: 150vh;
  display: flex;
  justify-content: center;
}

.movie-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 46px; /* Adjust the gap between cards */
  justify-content: flex-start; /* Align items to the start */
  padding: 16px; /* Adjust the padding as needed */
}
/* MovieCard.css */
.movie-card{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd; /* Ensure border is visible */
  border-radius: 8px;
  max-width: 350px; /* Adjusted width for side by side alignment */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-card-box {
  display: flex;
  padding: 16px;
  max-width: 350px; /* Adjusted width for side by side alignment */
  align-items: flex-start; /* Align items to the top */
  height: 150px;
}

.movie-details-left {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 150px; /* Set the width */
  height: 150px; /* Set the height */
}

.movie-image {
  width: 100px; /* Adjusted width for side by side alignment */
  height: auto;
  border: 2px solid #ddd; /* Ensure border is visible */
  border-radius: 8px;
  margin-right: 16px; /* Space between image and details */
}

.movie-details-right {
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: flex-start; /* Align to the top */
}

.movie-name {
  display: inline-block;
  margin: 0;
}

.movie-genre,
.movie-year {
  margin: 0;
}

.movie-genre,
.movie-year,
.movie-plot {
  color: #666;
  font-size: 0.9em;
}

.movie-btn {
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #007bff; /* Primary blue color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.movie-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.movie-btn:active {
  background-color: #004080; /* Even darker blue on click */
}


/* login Form CSS */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 1rem;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 45%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.button:hover {
  background: #0056b3;
}

.back-button {
  background: #6c757d;
}

.back-button:hover {
  background: #5a6268;
}

.logo-header img{
  width: 40px;
  border-radius: 4px;
}

.signup-link {
  margin-top: 1rem;
  color: #555;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/*---------CSS of Header----------*/

.header {
    top: 0;
    left: 0;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10vw;
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, sans-serif;
}

.header-left .header-title {
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-search {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.header-dropbtn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.header-dropbtn:hover {
  background-color: #555;
}

.header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.header-dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.header-dropdown-content a:hover {
  background-color: #555;
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

.header-login,
.header-logout {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.header-login:hover,
.header-logout:hover {
  background-color: #555;
}

.header-user {
  display: flex;
  align-items: center;
}

.header-username {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Movie Details */

.movie-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 16px;
}

.movie-details {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.movie-poster {
  width: 300px;
  height: auto;
  object-fit:contain; /* Ensures the aspect ratio is maintained */
  border-radius: 8px;
  align-self: flex-start; /* Align the image to the top of the container */
}

.movie-info {
  flex: 1;
}

.genre-container, .persons-container, .reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.genre-badge {
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 16px;
  margin: 4px 0;
  font-weight: 500;
}

.person-card, .review-card {
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 8px;
  margin: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.person-card {
  width: 80%;
}

.review-card {
  width: 100%;
}

.review-form {
  margin-top: 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.review-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #0056b3;
}




/* -----------CSS of Footer----------*/



/* -----------CSS of add actor */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.actor-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.actor-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.actor-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* -----------CSS of Add Producer----------- */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.producer-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.producer-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.producer-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* ----------CSS of Add Genres----------*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.genre-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.genre-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.genre-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.Edit {
  background-color: #3498db;
  color: #fff;
}

.Delete {
  background-color: #e74c3c;
  color: #fff;
}

.button:hover {
  background-color: #2c3e50;
}

/* -----------CSS of View Actors------------ */

.actors-list-container {
  padding: 20px;
}

.actors-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.actor-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.actor-card h3 {
  margin: 0 0 10px;
}

.actor-card p {
  margin: 5px 0;
}

.input-group.buttons {
  display: flex;
  gap: 10px;
}

.button.Edit, .button.Delete {
  padding: 10px 15px;
  cursor: pointer;
}
